{% extends "layout.njk" %}

{% block title -%}
  About
{%- endblock %}
{% block content %}
  <p class="m-text">Demonstrate how Gulp can compile Nunjucks HTML templates into a static site</p>
{% endblock %}